In [2]:
import pandas as pd

35. El Departamento de Estadística Laboral de Estados Unidos reúne datos sobre las ocupaciones de
las personas entre 25 y 64 años. La tabla siguiente presenta el número de hombres y mujeres (en
millones) en cada una de las categorías ocupacionales.

![Ocupaciones](/TablasAnexo/Tabla3.png)

In [3]:
df = pd.DataFrame(columns=['Ocupación', 'Hombres', 'Mujeres'])
df.loc[len(df)] = ['Directivo/Profesional', 19079, 19021]
df.loc[len(df)] = ['Enzeñanza/Ventas/Administrativo', 11079, 19315]
df.loc[len(df)] = ['Servicio', 4977, 7947]
df.loc[len(df)] = ['Producción con precisión', 11682, 1138]
df.loc[len(df)] = ['Operadores/Obrero', 10576, 3482]
df.loc[len(df)] = ['Agricultura/Ganadería/Silvicultura/Pesca', 1838, 514]
df

                                  Ocupación  Hombres  Mujeres
0                     Directivo/Profesional    19079    19021
1           Enzeñanza/Ventas/Administrativo    11079    19315
2                                  Servicio     4977     7947
3                  Producción con precisión    11682     1138
4                         Operadores/Obrero    10576     3482
5  Agricultura/Ganadería/Silvicultura/Pesca     1838      514

a. Desarrolle una tabla de probabilidad conjunta.

Desarrollo de la tabla paso a paso:

In [4]:
df_probabilidades = df.copy()
df_probabilidades['Hombres'] = df_probabilidades['Hombres'].astype(float)  # Cambio el tipo de dato a float.
df_probabilidades['Mujeres'] = df_probabilidades['Mujeres'].astype(float)  # Cambio el tipo de dato a float.
total = df['Hombres'].sum() + df['Mujeres'].sum()  # Saco el total con la suma de las columnas 'Hombres' y 'Mujeres'.
for i in range(len(df_probabilidades)):  # En cada iteración asigno una probabilidad (valor_iteración/total).
    df_probabilidades.loc[i, 'Hombres'] = round(df.loc[i, 'Hombres']/total, 5)
    df_probabilidades.loc[i, 'Mujeres'] = round(df.loc[i, 'Mujeres']/total, 5)
# Agrego una fila y una columna de 'Total'. Podría haberlo hecho antes y evitar un bucle for, pero
# lo hice así para que se entienda un poco mejor. 
df_probabilidades.loc[len(df_probabilidades)] = ['Total', 0, 0]  
df_probabilidades['Total'] = 0
df_probabilidades['Total'] = df_probabilidades['Total'].astype(float)
# En este bucle sumo cada 'Hombres' y 'Mujeres' para tener la probabilidad total de cada empleo.
for i in range(len(df_probabilidades)):
    df_probabilidades.loc[i, 'Total'] = df_probabilidades.loc[i, 'Hombres'] + df_probabilidades.loc[i, 'Mujeres']
df_probabilidades.loc[6, 'Hombres'] = df_probabilidades['Hombres'].sum()  # Sumo el total de 'Hombres'.
df_probabilidades.loc[6, 'Mujeres'] = df_probabilidades['Mujeres'].sum()  # Sumo el total de 'Mujeres'.
# df_probabilidades['Total'].sum()  # Compruebo que la suma de la columna 'Total' dé 1.
# df_probabilidades.loc[6, 'Hombres'] + df_probabilidades.loc[6, 'Mujeres']  # Compruebo que la suma de la fila 'Total' dé 1.
df_probabilidades.loc[6, 'Total'] = 1
df_probabilidades

                                  Ocupación  Hombres  Mujeres    Total
0                     Directivo/Profesional  0.17243  0.17191  0.34434
1           Enzeñanza/Ventas/Administrativo  0.10013  0.17456  0.27469
2                                  Servicio  0.04498  0.07182  0.11680
3                  Producción con precisión  0.10558  0.01028  0.11586
4                         Operadores/Obrero  0.09558  0.03147  0.12705
5  Agricultura/Ganadería/Silvicultura/Pesca  0.01661  0.00465  0.02126
6                                     Total  0.53531  0.46469  1.00000

b. ¿Cuál es la probabilidad de que un trabajador mujer sea directivo o profesional?

In [5]:
print(f"La probabilidad es de {df_probabilidades.loc[0, 'Mujeres']}.")

La probabilidad es de 0.17191.

c. ¿Cuál es la probabilidad de que un trabajador hombre esté en producción con precisión?

In [6]:
print(f"La probabilidad es de {df_probabilidades.loc[3, 'Hombres']}.")

La probabilidad es de 0.10558.

d. ¿Es la ocupación independiente del género? Justifique su respuesta con el cálculo de la probabilidad.

Solo con ver la tabla nos damos cuenta de que en algunos empleos es considerable la diferencia entre cantidad de hombres y mujeres. Para dar una respuesta matemática hay que calcular la probabilidad de una ocupación dado el género y comparar. Pero esto solo nos dice que, en determinados empleos, hay mayor cantidad de personas de algún género. En términos probabilísticos, analizando los resultados, la respuesta sería que no son independientes...

P(Trabajo n Genero) = P(Genero) * P(Trabajo|Genero)

P(Trabajo|Genero) = P(Trabajo n Genero)/P(Genero)

Ej.: fila 0, hombres:

df_probabilidades.loc[0,'Hombres']/df_probabilidades.loc[6, 'Hombres']

fila 0, mujeres:

df_probabilidades.loc[0,'Mujeres']/df_probabilidades.loc[6, 'Mujeres']

In [7]:
for i in range(len(df_probabilidades)-1):
    print()
    print(df_probabilidades.loc[i,'Hombres']/df_probabilidades.loc[6, 'Hombres'], df_probabilidades.loc[i,'Mujeres']/df_probabilidades.loc[6, 'Mujeres'])
    print()

0.32211242084026076 0.3699455551012503


0.1870504941062188 0.37564828165013237


0.08402607834712596 0.15455464933611654


0.19723151071341835 0.02212227506509716


0.17855074629653844 0.06772256773332759


0.031028749696437576 0.01000667111407605

Otra manera es comparar la intersección con las probabilidades marginales para hombres y mujeres para  cada empleo.

P(Trabajo n Genero) = P(Trabajo) * P(Genero)

Ej.: fila 0, hombres:

df_probabilidades.loc[0, 'Hombres'] == df_probabilidades.loc[0, 'Total'] * df_probabilidades.loc[6, 'Hombres']

fila 0, mujeres: 

df_probabilidades.loc[0, 'Mujeres'] == df_probabilidades.loc[0, 'Total'] * df_probabilidades.loc[6, 'Mujeres']

In [127]:
for i in range(len(df_probabilidades)-1):
    print()
    print(df_probabilidades.loc[i, 'Hombres'] == df_probabilidades.loc[i, 'Total'] * df_probabilidades.loc[6, 'Hombres'], df_probabilidades.loc[i, 'Mujeres'] == df_probabilidades.loc[i, 'Total'] * df_probabilidades.loc[6, 'Mujeres'])
    print()

False False


False False


False False


False False


False False


False False

Voy a comparar los valores, por si son aproximados y no exactamente iguales.

In [128]:
for i in range(len(df_probabilidades)-1):
    print()
    print(df_probabilidades.loc[i, 'Hombres'], df_probabilidades.loc[i, 'Total'] * df_probabilidades.loc[6, 'Hombres'], df_probabilidades.loc[i, 'Mujeres'], df_probabilidades.loc[i, 'Total'] * df_probabilidades.loc[6, 'Mujeres'])
    print()

0.17243 0.18432864540000002 0.17191 0.1600113546


0.10013 0.1470443039 0.17456 0.12764569609999998


0.04498 0.062524208 0.07182 0.054275791999999996


0.10558 0.0620210166 0.01028 0.05383898339999999


0.09558 0.0680111355 0.03147 0.059038864499999996


0.01661 0.011380690600000002 0.00465 0.009879309400000001

Conclusión: según estos cálculos, la ocupación y el género no son independientes.